///
/// Original Sass template for liveinfo page
///

/* Actions */

@media (max-width: 650px){
    .liveinfo.gallery.style2 article:first-child{
        margin-left: 14rem;
    }
    .liveinfo.gallery.style2 article:last-child{
        margin-right: 1rem;
    }
}
@media (min-width: 737px){
    .wide{
        //padding-top: 20vh;
    }
    .wide-images .image{
        background: white;
    }
}

.liveinfo {
    .inner {
        width: initial;
        //flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
    }
}


section.style1 {
    min-height: 100vh;
}

body{
    will-change: animation;
}

.banner {
    background-image:url("../../images/wave.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom 0vh right 0px;
    .content{
        background-color: $hinomaru;
        height: 10px;
        h1{
            color: white;
        }
    }
    .image{
        background-color: rgba(255,255,255,0);
    }
}
.raisan.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.form{
    padding: 10vh;

}
@media (max-width: 800px) {
    .youtube {
        width: 100%;
        aspect-ratio: 16 / 9;
        iframe {
            width: 100%;
            height: 100%;
          }
         
    }
          
}
